/* wanted to resize the mole and had to fix the score display when I did this */
.mole-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.small-mole {
  width: 50%;
}

.score-display {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}